<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Speak Up</title>
  </head>
  <body>
    <form method="POST" action="/addAudio" id="myForm">
      <label for="title">title</label>
      <input type="text" name="title" value="" />
      <label for="audio file">Audio File</label>
      <input type="file" id="audioFile" name="" value="">
      <button type="submit" name="submit">SUBMIT</button>
    </form>
    <div class="audio-stuff">
      {{#each data}}
      <h1>{{ this.title }}</h1>
      {{/each}}
    </div>
  </body>
</html>
